*{
    margin: 0;
    padding: 0;
}

#root{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.App{
    padding: 80px;
    border-radius: 15px;
    box-shadow: -30px 20px 100px 10px rgba(251, 24, 78, 0.47), 30px -20px 100px 10px rgba(0, 87, 255, 0.47);
    transition: 0.3s;
}

.App:hover{
    transform: scale(1.1);
}

.calculator{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.calculator input{
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.operations{
    display: flex;
    justify-content: space-evenly;
}

.operations > p{
    background-color: black;
    padding: 10px 15px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 0.2s;
}

.operations > p:hover{
    transform: scale(1.2);
}

.output{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
}

.output > p{
    font-size: 20px;
    font-weight: 600;
    transition: 0.2s;
}

.output > p{
    font-size: 20px;
    font-weight: 600;
}